body {
    font-family: motiva-sans,sans-serif;
}

.middle {
    background-image: url("../../../public/pexels-essow-k-936722.jpg");
    background-color: #064788;
    background-attachment: scroll;
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    padding: 10rem;
    color: floralwhite;
    text-align: left;

    h1 {
        font-weight: bolder;
        font-size: 48px;
        text-shadow: 1px 1px 5px black;
    }

    p {
        text-shadow: 1px 1px 5px black;
    }

}

.bigButtons {
    display: flex;

    &--single {
        text-align: center;
        margin: 1em;
        padding: 1em;
        border: 1px solid rgb(109, 109, 109);
        border-radius: 3rem;
        
        h1 {
            font-weight: bold;
            font-size: 2em;
            color: #064788;
        }

        button {
            margin: 1em;
            background-color: #064788;
            color: floralwhite;
            padding: 0.3rem 0.75rem;
            border-radius: 1em;
        }
    }
}

footer {
    background-color: #064788;
    color: floralwhite;
    padding: 3rem;
    font-weight: bold;

    div {
        p {
            font-weight: 500;
        }
    }
}